<h3>{{ user.name }} Products</h3>

<table class="table mt-3">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
        <tr>
            <th scope="row">{{_id}}</th>
            <td>{{name}}</td>
            <td>{{category}}</td>
            <td>{{price}}</td>
            <td>{{quantity}}</td>
        </tr>
    {{/each}}
  </tbody>
</table>