<div class="card mx-auto" style="width: 40%">
    <div class="card-body">
        <h3>Edit product</h3>
        <form action='/products/edit' method='post'>
            <div class="form-group">
                <label for="Id">Id</label>
                <input type="text" class="form-control" id="id" value="{{product._id}}" aria-describedby="Id" disabled>
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" id="name" value="{{product.name}}" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select class="form-control" name="category" id="category">
                    <option>None</option>
                    {{#each categories}}
                        {{#if isSelected }}
                            <option selected>{{name}}</option>
                        {{else}}
                            <option>{{name}}</option>
                        {{/if}}
                    {{/each}}
                </select>
            </div>
            <input type="hidden" name="id" value="{{product._id}}">
            <button type="submit" class="btn btn-primary">Edit</button>
        </form>
    </div>
</div>